@import '~bootstrap/scss/bootstrap.scss';
@import url(https://fonts.googleapis.com/css?family=Orbitron);

$body-bg:#383838;
$font-text: 'Orbitron', sans-serif;
$h1-color:#5c9ac9;
$calc-base:#fff;
$display:lightgrey;
$display-border:grey;
$h2-color:#b07a60;
$font-color:#8fbbc4;
$btn:#6496c8;
$btn-text:#fff;
$btn-shadow:#27496d;
$disString: darkgrey;



body{
    background:$body-bg;
}

#calcBase{
    margin-top:130px;
    margin-bottom:80px;
    background:$calc-base;
    height:445px;
    width:300px;
    border-radius:30px;
}

#padDiv{
    height:390px;
    width:250px;
    margin:auto;
}

h1,p,button {
    font-family: $font-text;
}

h1{
    padding-top:14px;
    padding-bottom:4px;
    font-size:20px;
    font-weight:bold;
}

#screen{
    background: $display;
    width:243px;
    height:55px;
    margin: 0px auto 10px auto;
    border-radius:5px;
    border-style:solid;
    border-width:2px;
    border-color:$display-border;
}

p{
    font-size:30px;
}

#display{
    padding-bottom:0px;
    margin-bottom:0px;
    padding-right:5px;
    height: 40px;
}
#disString{
    padding-top:0px;
    padding-right:8px;
    margin-top:0px;
    line-height:4px;
    font-size:12px;
    color:$disString;
}

button{
    float:left;
    margin: 5px 5px 5px 5px;
    padding: 5px 0px 5px 0px;
    height:50px;
    width:52.5px;
    line-height:1px;
    font-weight:bold;
    font-size:20px;
    appearance: none;
    box-shadow:none;
    border-radius:0;
    color: $btn-text;
    background-color:$btn ;
    border: none;
    border-radius: 7px;
    box-shadow: 0 5px $btn-shadow;
}

button:active{
    box-shadow: 0 0px $btn-shadow;
    transform: translateY(5px);
}

button:focus {
    outline:none;
}

#zero{
    width: 115px;
}

#equals{
    float:right;
    height:110px;
}

